Flask==3.0.3
Flask-Login==0.6.3
Flask-Mail==0.10.0
gunicorn==23.0.0
regex
bs4
requests==2.32.3
sqlalchemy-orm==1.2.10
SQLAlchemy~=2.0.31
python-dotenv~=1.0.1
psycopg2-binary
pydantic==1.10.17
pydantic_core
flask_session
flask_sqlalchemy
flask-cors
gunicorn
flask-dance
sentry_sdk