body.login {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
body.login .container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}
body.login h2 {
  margin: 0 0 20px 0;
  color: #333;
}
body.login input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
body.login button {
  background-color: var(--primary-color);;
  color: var(--text-against-pc);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
body.login button:hover {
  background-color: var(--hover-color);;
}
body.login .toggle-form {
  /*color: #007bff;*/
  color: var(--primary-color);
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  justify-content: center;
  width: 100%;
  font-size: 1rem;
  /*display: block;*/
}
body.login .toggle-form:hover {
  background-color: transparent;
  text-decoration: underline;
}
body.login .error-message {
  color: red;
  margin-top: 10px;
}

body.login .spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
}

body.login .success-message {
    color: green;
    font-weight: 600;
    margin-bottom: 1rem;
}

body.login a {
  color: var(--primary-color);
}

body.login .admin-logo {
  height: 50px;
  margin-bottom: 10px;
}