body.postjob {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
body.postjob .container {
    max-width: 800px;
    margin: 0 auto;
}
body.postjob h2 {
    color: #333;
}
body.postjob form {
    display: flex;
    flex-direction: column;
}
body.postjob label {
    margin-bottom: 10px;
    color: #333;
}
body.postjob input, textarea, select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    display: 'flex';
}

body.postjob button {
    padding: 10px 20px;
    background-color: #ff4500;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
body.postjob button:hover {
    background-color: #ff6600;
}

body.postjob .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
    margin: auto;
  }