.driver-popover.rezify-theme {
  border: 3px solid var(--primary-color);
  border-radius: 10px;
}

.driver-popover.rezify-theme .driver-popover-title {
  color: var(--primary-color);
  font-family: 'Orbitron', sans-serif;
  background-color: transparent;
}

.driver-popover.rezify-theme .driver-popover-description {
  /* color: #303030; */
  font-family: 'Roboto', sans-serif;
}

/* Popover Arrow */

.driver-popover.rezify-theme .driver-popover-arrow {
  border-width: 8px;
}

.driver-popover.rezify-theme .driver-popover-arrow-side-left.driver-popover-arrow {
  border-left-color: var(--primary-color);
}

.driver-popover.rezify-theme .driver-popover-arrow-side-right.driver-popover-arrow {
  border-right-color: var(--primary-color);
}

.driver-popover.rezify-theme .driver-popover-arrow-side-top.driver-popover-arrow {
  border-top-color: var(--primary-color);
}

.driver-popover.rezify-theme .driver-popover-arrow-side-bottom.driver-popover-arrow {
  border-bottom-color: var(--primary-color);
}

/* Popover Buttons */

.driver-popover.rezify-theme .driver-popover-prev-btn:hover {
  background-color: var(--hover-color);
  color: whitesmoke;
  border: 2px solid var(--hover-color);
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 1px;
  margin-right: 1px;
}

.driver-popover.rezify-theme .driver-popover-next-btn:hover {
  background-color: var(--hover-color);
  color: whitesmoke;
  border: 2px solid var(--hover-color);
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 1px;
  margin-right: 1px;
}

.driver-popover.rezify-theme .driver-popover-prev-btn {
  border-color: var(--primary-color);
  color: var(--primary-color);
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
  text-shadow: none;
}

.driver-popover.rezify-theme .driver-popover-next-btn {
  border-color: var(--primary-color);
  color: var(--primary-color);
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
  text-shadow: none;
}

.driver-popover.rezify-theme .driver-popover-footer {
  background-color: white;
  padding: 0px;
}

.tour-button-outer {
  position: fixed;
  right: 40px;
  bottom: 40px;
  height: 45px;
  display: flex;
  flex-direction: row;
  z-index: 10;
}

.tour-button {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  size: 45px;
  font-size: large;
  font-weight: bold;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: var(--background-color-hero);
}

.tour-button:hover {
  background-color: var(--hover-color);
  color: whitesmoke;
  border: 2px solid var(--hover-color);
}

.tour-button-popup-outer {
  height: 45px;
  align-content: center;
  padding-right: 10px;
}

.tour-button-popup-inner {
  padding: 5px;
  /* border: none; */
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  background-color: whitesmoke;
  color: var(--primary-color);
  font-size: small;
}

.tour-button-popup-inner:hover {
  padding: 5px;
  border: 2px solid var(--hover-color);
  border-radius: 5px;
  background-color: var(--hover-color);
  color: whitesmoke;
  font-size: small;
}